body {
    font-family: 'Inter', sans-serif; /* Apply Inter font */
}

/* .gameover-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Arial', sans-serif;
    z-index: 1000;
  }
  
  .gameover-container h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  
  .gameover-container button {
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }
  
  .gameover-container button:hover {
    background-color: #ff0000;
  }
   */